
  {% render 'gp-head', isThemeSection: true %}
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:700,400,600&display=swap');
      </style>
    
  <style>
    .gps-503617003425104775 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-503617003425104775 .invisible{visibility:hidden}.gps-503617003425104775 .absolute{position:absolute}.gps-503617003425104775 .relative{position:relative}.gps-503617003425104775 .z-1{z-index:1}.gps-503617003425104775 .mx-auto{margin-left:auto;margin-right:auto}.gps-503617003425104775 .mb-0{margin-bottom:0}.gps-503617003425104775 .flex{display:flex}.gps-503617003425104775 .inline-flex{display:inline-flex}.gps-503617003425104775 .grid{display:grid}.gps-503617003425104775 .h-5{height:20px}.gps-503617003425104775 .h-6{height:24px}.gps-503617003425104775 .h-full{height:100%}.gps-503617003425104775 .w-5{width:20px}.gps-503617003425104775 .w-6{width:24px}.gps-503617003425104775 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-503617003425104775 .animate-spin{animation:spin 1s linear infinite}.gps-503617003425104775 .flex-col{flex-direction:column}.gps-503617003425104775 .items-center{align-items:center}.gps-503617003425104775 .justify-center{justify-content:center}.gps-503617003425104775 .gap-y-0{row-gap:0}.gps-503617003425104775 .overflow-hidden{overflow:hidden}.gps-503617003425104775 .break-words{overflow-wrap:break-word}.gps-503617003425104775 .rounded-none{border-radius:0}.gps-503617003425104775 .leading-\[0\]{line-height:0}.gps-503617003425104775 .no-underline{text-decoration-line:none}.gps-503617003425104775 .opacity-25{opacity:.25}.gps-503617003425104775 .opacity-75{opacity:.75}.gps-503617003425104775 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-503617003425104775 .duration-200{transition-duration:.2s}.gps-503617003425104775 .duration-300{transition-duration:.3s}.gps-503617003425104775 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-503617003425104775 .disabled\:btn-disabled:disabled{cursor:default}.gps-503617003425104775 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-503617003425104775 .disabled\:opacity-30:disabled{opacity:.3}.gps-503617003425104775 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-503617003425104775 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-503617003425104775 .\[\&\>svg\]\:\!h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-503617003425104775 .\[\&\>svg\]\:\!w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-503617003425104775 .tablet\:\[\&\>svg\]\:\!h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-503617003425104775 .mobile\:\[\&\>svg\]\:\!h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-503617003425104775 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-503617003425104775 .\[\&_p\]\:inline p{display:inline}.gps-503617003425104775 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-503617003425104775 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-503617003425104775 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      pageContext id="gNAJfBccg2"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-2xl);--pr:15px;--mr-mobile:auto;--pt-mobile:40px;--pl-mobile:15px;--pb-mobile:10px;--pr-mobile:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:80px;--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNAJfBccg2 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gc3t3mD6BU relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="gLUKeqPICX"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pb:0px;--mb-mobile:10px;--pt-mobile:0px;--pb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:770px;--w-tablet:770px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLUKeqPICX mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gM6zMWgBFp relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gt4rKiaL_u "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans');--weight:700;--ls:normal;--lh:130%;--size:33px;--size-tablet:37px;--size-mobile:29px;--c:#EE6A77;word-break:break-word;overflow:hidden"
        >
        <p>Compare features</p>
        </h2>
      </div>
    </div>
    <div
      pageContext parentTag="Col"
        class="gGzhMlPIRm "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--mb-tablet:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans');--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:16px;--c:#EE6A77;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>With other brand similar product</p>
        </div>
      </div>
    </div>
      
      
    <div
      pageContext parentTag="Col" id="goAi44sZdn"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mt:var(--g-s-3xl);--mb:var(--g-s-3xl);--pt:var(--g-s-l);--pl:var(--g-s-3xl);--pb:var(--g-s-l);--pr:var(--g-s-3xl);--mt-mobile:var(--g-s-3xl);--mb-mobile:var(--g-s-3xl);--pt-mobile:0px;--pl-mobile:14px;--pb-mobile:0px;--pr-mobile:14px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goAi44sZdn mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwBbCkhNun relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="g5AxhJRWGr"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5AxhJRWGr mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start;--d-mobile:none"
      class="gdJjC8S7Z3 relative flex flex-col"
    >
      
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKN5sqArWJ relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="gJAGowF4EG"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJAGowF4EG mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDNqfCUxNQ relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gEJVYTEa6H "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--mb-mobile:0px;--pt-mobile:var(--g-s-xl);--pl-mobile:9px;--pb-mobile:var(--g-s-xl);--pr-mobile:9px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans');--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--weight:bold;--c:#EE6A77;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>Familidoo</p>
        </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6yyCJkPfq relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="g_CUGPoYqZ "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--mb-mobile:0px;--pt-mobile:var(--g-s-xl);--pl-mobile:9px;--pb-mobile:var(--g-s-xl);--pr-mobile:9px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans');--weight:600;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>Others</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      pageContext parentTag="Col" id="gZ4v4FQ-_M"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZ4v4FQ-_M mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQMcotJyea relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gfip-K4F3c "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pl:10px;--pb:var(--g-s-xl);--pr:10px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#EE6A77;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>Daycare Tested &amp; Trusted</p>
        </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gG3fgod662 relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="gU7vGNI5ei"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gU7vGNI5ei mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3Ifswhdhl relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--ta:center"
      class="leading-[0] gA9buHNghv"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--w-mobile:24px;--h:24px;--h-mobile:24px;--minw:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-xB4mVCeT relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--ta:center"
      class="leading-[0] gmXh-9uSm8"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--w-mobile:24px;--h:24px;--h-mobile:24px;--minw:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm101.8-262.2L295.6 256l62.2 62.2c4.7 4.7 4.7 12.3 0 17l-22.6 22.6c-4.7 4.7-12.3 4.7-17 0L256 295.6l-62.2 62.2c-4.7 4.7-12.3 4.7-17 0l-22.6-22.6c-4.7-4.7-4.7-12.3 0-17l62.2-62.2-62.2-62.2c-4.7-4.7-4.7-12.3 0-17l22.6-22.6c4.7-4.7 12.3-4.7 17 0l62.2 62.2 62.2-62.2c4.7-4.7 12.3-4.7 17 0l22.6 22.6c4.7 4.7 4.7 12.3 0 17z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      pageContext parentTag="Col" id="gLKZpb9GQn"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLKZpb9GQn mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9xdw-UeZD relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="ggoRDZb5LG "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pl:10px;--pb:var(--g-s-xl);--pr:10px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#EE6A77;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>24/7 Services Support</p>
        </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_Gt4rkouR relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="gI2aHVtL8m"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gI2aHVtL8m mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gOsaZ1lMcL relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--ta:center"
      class="leading-[0] gd9fx9uKZx"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--w-mobile:24px;--h:24px;--h-mobile:24px;--minw:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="go50AVBTmM relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--ta:center"
      class="leading-[0] ghU3IEXIJ3"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--w-mobile:24px;--h:24px;--h-mobile:24px;--minw:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm101.8-262.2L295.6 256l62.2 62.2c4.7 4.7 4.7 12.3 0 17l-22.6 22.6c-4.7 4.7-12.3 4.7-17 0L256 295.6l-62.2 62.2c-4.7 4.7-12.3 4.7-17 0l-22.6-22.6c-4.7-4.7-4.7-12.3 0-17l62.2-62.2-62.2-62.2c-4.7-4.7-4.7-12.3 0-17l22.6-22.6c4.7-4.7 12.3-4.7 17 0l62.2 62.2 62.2-62.2c4.7-4.7 12.3-4.7 17 0l22.6 22.6c4.7 4.7 4.7 12.3 0 17z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      pageContext parentTag="Col" id="gWr-OtSU2f"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWr-OtSU2f mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gEBd9nxVec relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gPGMnZuqzf "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pl:10px;--pb:var(--g-s-xl);--pr:10px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#EE6A77;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>Money Back Guarantee</p>
        </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4RuMPpa9Z relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="gJtDzmfta4"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJtDzmfta4 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1dFHSgcwG relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--ta:center"
      class="leading-[0] gT96KNZ-u5"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--w-mobile:24px;--h:24px;--h-mobile:24px;--minw:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gf6AnqSojf relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--ta:center"
      class="leading-[0] gd7zRRbQq1"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--w-mobile:24px;--h:24px;--h-mobile:24px;--minw:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm101.8-262.2L295.6 256l62.2 62.2c4.7 4.7 4.7 12.3 0 17l-22.6 22.6c-4.7 4.7-12.3 4.7-17 0L256 295.6l-62.2 62.2c-4.7 4.7-12.3 4.7-17 0l-22.6-22.6c-4.7-4.7-4.7-12.3 0-17l62.2-62.2-62.2-62.2c-4.7-4.7-4.7-12.3 0-17l22.6-22.6c4.7-4.7 12.3-4.7 17 0l62.2 62.2 62.2-62.2c4.7-4.7 12.3-4.7 17 0l22.6 22.6c4.7 4.7 4.7 12.3 0 17z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      pageContext parentTag="Col" id="gXqsQ9E3bo"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXqsQ9E3bo mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gu-NshtOBl relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="giqpK5HD5i "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pl:10px;--pb:var(--g-s-xl);--pr:10px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#EE6A77;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>*Freeship</p>
        </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggmXxzNM1k relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="gVmW7KhfGD"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVmW7KhfGD mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8TRu-zKS0 relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--ta:center"
      class="leading-[0] gozz4JpRMw"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--w-mobile:24px;--h:24px;--h-mobile:24px;--minw:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNGnksa_-F relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--ta:center"
      class="leading-[0] grXLhh6-rF"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--w-mobile:24px;--h:24px;--h-mobile:24px;--minw:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      pageContext parentTag="Col" id="gccFPV9k0g"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gccFPV9k0g mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSoYr7iQDG relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gtQ_TUf2LJ "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pl:10px;--pb:var(--g-s-xl);--pr:10px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#EE6A77;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>Optimized Design</p>
        </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gIphowzdNP relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="gJQBpV-v2h"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJQBpV-v2h mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gT2_MEVFHS relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--ta:center"
      class="leading-[0] gDNT525wXt"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--w-mobile:24px;--h:24px;--h-mobile:24px;--minw:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzyxjoAkoi relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--ta:center"
      class="leading-[0] g6Pk9QmGrT"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--w-mobile:24px;--h:24px;--h-mobile:24px;--minw:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm101.8-262.2L295.6 256l62.2 62.2c4.7 4.7 4.7 12.3 0 17l-22.6 22.6c-4.7 4.7-12.3 4.7-17 0L256 295.6l-62.2 62.2c-4.7 4.7-12.3 4.7-17 0l-22.6-22.6c-4.7-4.7-4.7-12.3 0-17l62.2-62.2-62.2-62.2c-4.7-4.7-4.7-12.3 0-17l22.6-22.6c4.7-4.7 12.3-4.7 17 0l62.2 62.2 62.2-62.2c4.7-4.7 12.3-4.7 17 0l22.6 22.6c4.7 4.7 4.7 12.3 0 17z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      pageContext parentTag="Col" id="g-WTFGvFeX"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-WTFGvFeX mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gTz7B9v8AX relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gH-60FZ_n7 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pl:10px;--pb:var(--g-s-xl);--pr:10px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#EE6A77;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>Family-focused</p>
        </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMgP5_7Xyq relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="grixsxXKtm"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grixsxXKtm mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g64OfHlT8D relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--ta:center"
      class="leading-[0] giflu72ZLt"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--w-mobile:24px;--h:24px;--h-mobile:24px;--minw:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPBhmGTmKG relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--ta:center"
      class="leading-[0] gfDDpm6fE7"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--w-mobile:24px;--h:24px;--h-mobile:24px;--minw:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm101.8-262.2L295.6 256l62.2 62.2c4.7 4.7 4.7 12.3 0 17l-22.6 22.6c-4.7 4.7-12.3 4.7-17 0L256 295.6l-62.2 62.2c-4.7 4.7-12.3 4.7-17 0l-22.6-22.6c-4.7-4.7-4.7-12.3 0-17l62.2-62.2-62.2-62.2c-4.7-4.7-4.7-12.3 0-17l22.6-22.6c4.7-4.7 12.3-4.7 17 0l62.2 62.2 62.2-62.2c4.7-4.7 12.3-4.7 17 0l22.6 22.6c4.7 4.7 4.7 12.3 0 17z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      pageContext parentTag="Col" id="gSV5TM_xBu"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSV5TM_xBu mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1hpu2STD7 relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gbvl1eAV4I "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pl:10px;--pb:var(--g-s-xl);--pr:10px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#EE6A77;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>Warranty</p>
        </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gu5llLnIX4 relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="gGlJLyw_Uj"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGlJLyw_Uj mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8AblI_9wA relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--ta:center"
      class="leading-[0] gKOWHpcbIk"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--w-mobile:24px;--h:24px;--h-mobile:24px;--minw:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g41IGIy-fk relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--ta:center"
      class="leading-[0] g3X9OYapFZ"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--w-mobile:24px;--h:24px;--h-mobile:24px;--minw:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm101.8-262.2L295.6 256l62.2 62.2c4.7 4.7 4.7 12.3 0 17l-22.6 22.6c-4.7 4.7-12.3 4.7-17 0L256 295.6l-62.2 62.2c-4.7 4.7-12.3 4.7-17 0l-22.6-22.6c-4.7-4.7-4.7-12.3 0-17l62.2-62.2-62.2-62.2c-4.7-4.7-4.7-12.3 0-17l22.6-22.6c4.7-4.7 12.3-4.7 17 0l62.2 62.2 62.2-62.2c4.7-4.7 12.3-4.7 17 0l22.6 22.6c4.7 4.7 4.7 12.3 0 17z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      pageContext parentTag="Col" id="g7Stugtozh"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7Stugtozh mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5fZh3VQLA relative flex flex-col"
    >
      
    <div
      pageContext parentTag="Col"
        class="gG3mvgNIo1 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pl:10px;--pb:var(--g-s-xl);--pr:10px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#EE6A77;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >
        <p>CE EN1888, ATSM Certificated</p>
        </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9PjzR9UhR relative flex flex-col"
    >
      
      
      
    <div
      pageContext parentTag="Col" id="goPLN5KK-W"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goPLN5KK-W mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gx_ezma8Ax relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--ta:center"
      class="leading-[0] gMMUhV5V6e"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#52C41A;--t:rotate(0deg);--w:24px;--w-mobile:24px;--h:24px;--h-mobile:24px;--minw:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      pageContext label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ge1HqzxO-R relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--ta:center"
      class="leading-[0] gz_DejRKE5"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--w-mobile:24px;--h:24px;--h-mobile:24px;--minw:24px;--minw-mobile:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm101.8-262.2L295.6 256l62.2 62.2c4.7 4.7 4.7 12.3 0 17l-22.6 22.6c-4.7 4.7-12.3 4.7-17 0L256 295.6l-62.2 62.2c-4.7 4.7-12.3 4.7-17 0l-22.6-22.6c-4.7-4.7-4.7-12.3 0-17l62.2-62.2-62.2-62.2c-4.7-4.7-4.7-12.3 0-17l22.6-22.6c4.7-4.7 12.3-4.7 17 0l62.2 62.2 62.2-62.2c4.7-4.7 12.3-4.7 17 0l22.6 22.6c4.7 4.7 4.7 12.3 0 17z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-button gp-data='{"setting":{"btnLink":{"link":"/collections/best-selling-collection","target":"_self"},"disabled":false,"htmlType":"button","iconAlign":"left","iconSvg":"<svg style=\"width: 100%; height: 100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\" fill=\"currentColor\"> <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z\" /></svg>","iconVisible":false,"label":"Shop Now"}}' style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:10px;--pl:32px;--pr:32px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center;--ta-mobile:center"
    class=""
  >
    <style>
    .gaApbxIOUS.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    .gaApbxIOUS:hover::before {
      
      
    }
  </style>
    <a
      href="{{ shop.url }}{{ routes.root_url | split: '/' | join: '/' }}/collections/best-selling-collection" target="_self" data-id="gaApbxIOUS" aria-label="Shop Now"
      data-state="idle"
      class="gaApbxIOUS gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none"
      style="--hvr-bg:#555555;--bg:#EE6A77;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--shadow:none;--c:#FFFFFF;--w:200px;--w-tablet:240px;--w-mobile:30%;--h:36px;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--tt:default;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans');--weight:400;--ls:normal;--lh:150%;--size:14px;--size-tablet:13px;--size-mobile:16px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Shop Now
      </span>
    </a>
  </div>
  </gp-button>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "presets": [
      {
        "name": "compare"
      }
    ],
    
    "name": "compare",
    "tag": "section",
    "class": "gps-503617003425104775 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/familidoo/apps/bold/app/shopify/edit?pageType=THEME_SECTION&editorId=503617003425104775)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
