
  
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Inter:400,700&display=swap');
      </style>
    
  <style>
    .gps-503343418236208273 .pointer-events-auto{pointer-events:auto}.gps-503343418236208273 .relative{position:relative}.gps-503343418236208273 .mx-auto{margin-left:auto;margin-right:auto}.gps-503343418236208273 .mb-0{margin-bottom:0}.gps-503343418236208273 .\!inline{display:inline!important}.gps-503343418236208273 .flex{display:flex}.gps-503343418236208273 .grid{display:grid}.gps-503343418236208273 .h-full{height:100%}.gps-503343418236208273 .w-full{width:100%}.gps-503343418236208273 .max-w-full{max-width:100%}.gps-503343418236208273 .flex-col{flex-direction:column}.gps-503343418236208273 .gap-y-0{row-gap:0}.gps-503343418236208273 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-503343418236208273 .duration-200{transition-duration:.2s}.gps-503343418236208273 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-503343418236208273 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-503343418236208273 .\[\&_p\]\:inline p{display:inline}.gps-503343418236208273 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-503343418236208273 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="goDHxAmgMK"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pl:15px;--pb:var(--g-s-2xl);--pr:15px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:20px;--pr-mobile:15px;--pt-tablet:var(--g-s-2xl);--pl-tablet:15px;--pb-tablet:var(--g-s-2xl);--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goDHxAmgMK mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZ63BkDByn relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gslOHUWPw_"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:30px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gslOHUWPw_ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gPi7GalTD3 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gSL1y_pB17"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:40px;--pl:77px;--pb:40px;--pr:77px;--mb-mobile:0px;--pt-mobile:10px;--pl-mobile:72px;--pb-mobile:37px;--pr-mobile:72px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="100% satisfaction guarantee"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "499742552031757542-ce03fac6-f6b9-4035-9def-152b57274134.jpg" | asset_url }}" data-srcset="{{ '499742552031757542-ce03fac6-f6b9-4035-9def-152b57274134.jpg' | asset_img_url: '768x768' }} 768w, {{ '499742552031757542-ce03fac6-f6b9-4035-9def-152b57274134.jpg' | asset_img_url: '1024x1024' }} 1024w, {{ '499742552031757542-ce03fac6-f6b9-4035-9def-152b57274134.jpg' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width height alt="100% satisfaction guarantee" priority base-src
    sizes="100vw"
    style="--aspect:0/0;--aspect-tablet:0/0;--aspect-mobile:0/0;--objf:fill;--objf-mobile:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gxq9OSMTTE relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gHhEPYgB5a "
        style="--ta:left;--ta-mobile:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left;--jc-mobile:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans');--weight:700;--ls:normal;--lh:130%;--size:40px;--size-tablet:40px;--size-mobile:35px;--c:#EE6A77;word-break:break-word;overflow:hidden"
        >
        <p>100% Money-Back Guarantee</p>
        </h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gerwTe24dL "
        style="--ta:left;--ta-mobile:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ml-mobile:5px;--mr-mobile:5px"
      >
      <div class="flex" style="--jc:left;--jc-mobile:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#EE6A77;word-break:break-word;overflow:hidden"
        >
        <p>If you are not 100% satisfied with your purchase, then you may return your order for a full refund with no questions asked.</p><p>&nbsp;</p><p>With 1,053+ 5-star reviews, we pledge to provide you with the highest levels of value, quality, and personal service available, so your complete satisfaction is guaranteed.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-503343418236208273 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/familidoo/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=502887154884543432&sectionId=503343418236208273)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
