
  
  
      <style>
        @font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=pxiEyp8kv8JHgFVrJJfedA&skey=87759fb096548f6d&v=v20) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=pxiByp8kv8JHgFVrLGT9Z1xlEw&skey=d4526a9b64c21b87&v=v20) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=pxiByp8kv8JHgFVrLCz7Z1xlEw&skey=cea76fe63715a67a&v=v20) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-505483104723403655 .-rotate-90,.gps-505483104723403655 .rotate-180,.gps-505483104723403655 .rotate-90,.gps-505483104723403655 .transform{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-505483104723403655 .blur{--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: }.gps-505483104723403655 .pointer-events-auto{pointer-events:auto}.gps-505483104723403655 .relative{position:relative}.gps-505483104723403655 .mx-auto{margin-left:auto;margin-right:auto}.gps-505483104723403655 .mb-0{margin-bottom:0}.gps-505483104723403655 .\!inline{display:inline!important}.gps-505483104723403655 .flex{display:flex}.gps-505483104723403655 .inline-flex{display:inline-flex}.gps-505483104723403655 .grid{display:grid}.gps-505483104723403655 .hidden{display:none}.gps-505483104723403655 .h-6{height:24px}.gps-505483104723403655 .h-full{height:100%}.gps-505483104723403655 .min-h-0{min-height:0}.gps-505483104723403655 .w-6{width:24px}.gps-505483104723403655 .w-full{width:100%}.gps-505483104723403655 .max-w-full{max-width:100%}.gps-505483104723403655 .flex-1{flex:1 1 0%}.gps-505483104723403655 .-rotate-90{--tw-rotate:-90deg}.gps-505483104723403655 .-rotate-90,.gps-505483104723403655 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505483104723403655 .rotate-180{--tw-rotate:180deg}.gps-505483104723403655 .rotate-90{--tw-rotate:90deg}.gps-505483104723403655 .rotate-90,.gps-505483104723403655 .transform{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-505483104723403655 .cursor-pointer{cursor:pointer}.gps-505483104723403655 .flex-row{flex-direction:row}.gps-505483104723403655 .flex-col{flex-direction:column}.gps-505483104723403655 .items-center{align-items:center}.gps-505483104723403655 .justify-center{justify-content:center}.gps-505483104723403655 .gap-y-0{row-gap:0}.gps-505483104723403655 .overflow-hidden{overflow:hidden}.gps-505483104723403655 .overflow-clip{overflow:clip}.gps-505483104723403655 .rounded{border-radius:4px}.gps-505483104723403655 .border{border-width:1px}.gps-505483104723403655 .p-4{padding:16px}.gps-505483104723403655 .px-4{padding-left:16px;padding-right:16px}.gps-505483104723403655 .py-2{padding-bottom:8px;padding-top:8px}.gps-505483104723403655 .pb-0{padding-bottom:0}.gps-505483104723403655 .italic{font-style:italic}.gps-505483104723403655 .leading-\[0\]{line-height:0}.gps-505483104723403655 .blur{--tw-blur:blur(8px);filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)}.gps-505483104723403655 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505483104723403655 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505483104723403655 .duration-200{transition-duration:.2s}.gps-505483104723403655 .duration-500{transition-duration:.5s}.gps-505483104723403655 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505483104723403655 .\[\&\>svg\]\:\!h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-505483104723403655 .\[\&\>svg\]\:\!h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-505483104723403655 .\[\&\>svg\]\:\!w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-505483104723403655 .tablet\:\[\&\>svg\]\:\!h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-505483104723403655 .mobile\:\[\&\>svg\]\:\!h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-505483104723403655 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-505483104723403655 .\[\&_p\]\:inline p{display:inline}.gps-505483104723403655 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-505483104723403655 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g8LqxqwDTs"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pl:15px;--pb:var(--g-s-2xl);--pr:15px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:12px;--pr-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8LqxqwDTs mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPlkIkibEi relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gKG5ClkFX1"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1376px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKG5ClkFX1 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBRTgyFiBC relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g6scIuwcfx"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-2xl);--mb:var(--g-s-2xl);--mt-mobile:var(--g-s-2xl);--mb-mobile:auto;--pl-mobile:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6scIuwcfx mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtw2enwhPM relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gdq-QQD3q9 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--mb-mobile:16px"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--ls:normal;--lh:120%;--size:33px;--size-tablet:33px;--size-mobile:25px;--weight:bold;--c:#EE6A77;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>Therapy Dough can be used for</p>
        </h2>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gotRA-7p4T"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--mb-mobile:16px;--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gotRA-7p4T mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o-mobile:0"
      class="gNbTx-umEK relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:9px;--ta:left"
      class="leading-[0] gQknE-w7EZ"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#3B3B3B;--t:rotate(0deg);--w:6px;--h:6px;--minw:6px;--height-desktop:6px;--height-tablet:6px;--height-mobile:6px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o-mobile:1"
      class="gL5TVZ15Fw relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gDPAEqUPJN "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>Developing hand muscle strength</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g5Da8u7iZM"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--mb-mobile:16px;--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5Da8u7iZM mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o-mobile:0"
      class="gRFofqegPv relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:9px;--ta:left"
      class="leading-[0] g2Aq_NVtEk"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#3B3B3B;--t:rotate(0deg);--w:6px;--h:6px;--minw:6px;--height-desktop:6px;--height-tablet:6px;--height-mobile:6px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o-mobile:1"
      class="gEipYwjOU9 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g_FaDKP0f- "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>Improving joint flexibility</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="grQsx0_6aL"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--mb-mobile:16px;--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grQsx0_6aL mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o-mobile:0"
      class="gH0WD86dTi relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:9px;--ta:left"
      class="leading-[0] gevkXJziU3"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#3B3B3B;--t:rotate(0deg);--w:6px;--h:6px;--minw:6px;--height-desktop:6px;--height-tablet:6px;--height-mobile:6px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o-mobile:1"
      class="gJR50ahGXf relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gf6PWQ64qS "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>Improving finger, thumb and wrist movement</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gC0e-6MVcT"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--mb-mobile:24px;--mb-tablet:28px;--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gC0e-6MVcT mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYSyYSxKNl relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:9px;--ta:left"
      class="leading-[0] gw3SSnB7RD"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#3B3B3B;--t:rotate(0deg);--w:6px;--h:6px;--minw:6px;--height-desktop:6px;--height-tablet:6px;--height-mobile:6px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g81yTYQwF6 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gJ6EX-6f7b "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>Increasing hand grip</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gENPlVQnpQ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--mb-mobile:24px;--mb-tablet:28px;--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gENPlVQnpQ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gHv9OhIYNC relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:9px;--ta:left"
      class="leading-[0] gO7QQ8WgRQ"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#3B3B3B;--t:rotate(0deg);--w:6px;--h:6px;--minw:6px;--height-desktop:6px;--height-tablet:6px;--height-mobile:6px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmiZHVbM3U relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gN3EMD7K4U "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>Improving the use of your hand in tasks that you find meaningful</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gRtDIFx5QY"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--mb-mobile:24px;--mb-tablet:28px;--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRtDIFx5QY mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZeM_yxjTa relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:9px;--ta:left"
      class="leading-[0] gv_gYXlfza"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bw:0px;--bc:transparent"
      >
      <div
      
    >
      <span
        style="--c:#3B3B3B;--t:rotate(0deg);--w:6px;--h:6px;--minw:6px;--height-desktop:6px;--height-tablet:6px;--height-mobile:6px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z" /></svg></span>
    </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gefkji4_ig relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gUIlPL9cxI "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>We offer free home delivery service for our products. You can inspect the product before making the payment and return it within 30 days from the purchase date if you are not satisfied</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    <gp-tab gp-data='{"setting":{"borderTab":{"active":{"border":"solid","borderWidth":"1","color":"#3B3B3B","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"hover":{"border":"solid","borderWidth":"1","color":"#3B3B3B","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"normal":{"border":"solid","borderWidth":"1","color":"#E1E4E7","isCustom":true,"position":"all","width":"1px 1px 1px 1px"}},"childItem":["<p>Detail</p>","<p>Shipping&nbsp;</p><p>&amp; Return</p>","<p>FAQs</p>"],"labelAlign":{"desktop":"center"},"labelBgColor":{"active":"#3B3B3B","hover":"#3B3B3B","normal":"#EE6A77"},"labelColor":{"active":"#FFFFFF","hover":"#FFFFFF","normal":"#3B3B3B"},"labelTypoV2":{"attrs":{"transform":"none"},"custom":{"fontFamily":"Poppins","fontSize":{"desktop":"18px","mobile":"16px","tablet":"18px"},"fontStyle":"normal","fontVariants":["100","100italic","200","200italic","300","300italic","regular","italic","500","500italic","600","600italic","700","700italic","800","800italic","900","900italic"],"fontWeight":"500","letterSpacing":"normal","lineHeight":"150%"},"type":"paragraph-1"},"labelWidth":{"desktop":"200px"},"panelAlign":{"desktop":"center"},"panelFullWidth":{"desktop":false},"panelWidth":{"desktop":"610px"},"position":{"desktop":"top"}},"builderProps":{"uid":"gddsVHTQnn","builderData":{"advanced":{"border":{"border":"solid","borderType":"none","borderWidth":"0px","color":"#121212","isCustom":true,"width":"0px"},"boxShadow":{"angle":90,"blur":"4px","color":"rgba(18, 18, 18, 0.12)","distance":"2px","spread":"0px","type":"shadow-1"},"d":{"desktop":true,"mobile":false,"tablet":true},"hasBoxShadow":false,"op":{"desktop":"100%"},"rounded":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"},"spacing-setting":{"desktop":{"margin":{"bottom":"0px"},"padding":{"bottom":"var(--g-s-3xl)","left":"var(--g-s-2xl)","right":"var(--g-s-2xl)","top":"var(--g-s-2xl)"}},"mobile":{"margin":"","padding":""},"tablet":{"margin":"","padding":{"bottom":"var(--g-s-2xl)","left":"var(--g-s-2xl)","right":"var(--g-s-2xl)","top":"var(--g-s-2xl)"}}}},"childrens":["gq6cN10WbP","gGBN9NRkSj","glYDT-XPY-"],"label":"Tab","settings":{"borderTab":{"active":{"border":"solid","borderWidth":"1","color":"#3B3B3B","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"hover":{"border":"solid","borderWidth":"1","color":"#3B3B3B","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"normal":{"border":"solid","borderWidth":"1","color":"#E1E4E7","isCustom":true,"position":"all","width":"1px 1px 1px 1px"}},"childItem":["<p>Detail</p>","<p>Shipping&nbsp;</p><p>&amp; Return</p>","<p>FAQs</p>"],"labelAlign":{"desktop":"center"},"labelBgColor":{"active":"#3B3B3B","hover":"#3B3B3B","normal":"#EE6A77"},"labelColor":{"active":"#FFFFFF","hover":"#FFFFFF","normal":"#3B3B3B"},"labelTypoV2":{"attrs":{"transform":"none"},"custom":{"fontFamily":"Poppins","fontSize":{"desktop":"18px","mobile":"16px","tablet":"18px"},"fontStyle":"normal","fontVariants":["100","100italic","200","200italic","300","300italic","regular","italic","500","500italic","600","600italic","700","700italic","800","800italic","900","900italic"],"fontWeight":"500","letterSpacing":"normal","lineHeight":"150%"},"type":"paragraph-1"},"labelWidth":{"desktop":"200px"},"panelAlign":{"desktop":"center"},"panelFullWidth":{"desktop":false},"panelWidth":{"desktop":"610px"},"position":{"desktop":"top"}},"styles":{},"tag":"Tabs","uid":"gddsVHTQnn","type":"component"}}}'>
      <div
        
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-3xl);--pr:var(--g-s-2xl);--pt-tablet:var(--g-s-2xl);--pl-tablet:var(--g-s-2xl);--pb-tablet:var(--g-s-2xl);--pr-tablet:var(--g-s-2xl)"
        class="flex gddsVHTQnn"
      >
        <div
          class="flex w-full  flex-col"
        >
          <div
            class="flex"
            style="--jc:center"
          >
            <ul
              class="gp-tab-header-list flex  flex-row"
              style="--minw:min-content;--minw-tablet:min-content;--minw-mobile:min-content;--w:610px"
            >
              
                  <li
                    class="gp-navs-tab flex flex-1 cursor-pointer py-2 px-4"
                    aria-hidden
                    key="gddsVHTQnn"
                  >
                    
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] cursor-pointer overflow-hidden"
          style="--w:100%;--ta:center;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:500;--ls:normal;--lh:150%;--size:18px;--size-tablet:18px;--size-mobile:16px;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>Detail</p>
        </div>
      </div>
    </div>
                  </li>
                
                  <li
                    class="gp-navs-tab flex flex-1 cursor-pointer py-2 px-4"
                    aria-hidden
                    key="gddsVHTQnn"
                  >
                    
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] cursor-pointer overflow-hidden"
          style="--w:100%;--ta:center;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:500;--ls:normal;--lh:150%;--size:18px;--size-tablet:18px;--size-mobile:16px;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>Shipping&nbsp;</p><p>&amp; Return</p>
        </div>
      </div>
    </div>
                  </li>
                
                  <li
                    class="gp-navs-tab flex flex-1 cursor-pointer py-2 px-4"
                    aria-hidden
                    key="gddsVHTQnn"
                  >
                    
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] cursor-pointer overflow-hidden"
          style="--w:100%;--ta:center;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:500;--ls:normal;--lh:150%;--size:18px;--size-tablet:18px;--size-mobile:16px;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>FAQs</p>
        </div>
      </div>
    </div>
                  </li>
                
            </ul>
          </div>
          <div
            class="flex flex-1"
          >
            <div
              class="gp-tab-item-container p-4 pb-0"
              key="gddsVHTQnn" 
              style="--w:100%"
            >
            
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
    class="gp-tab-item"
  >
    
      
      
    <div
      parentTag="TabItem" id="giC5iuNfhh"
        style="--b:solid;--bc:#E6E9EB;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-2xl);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:906px;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="giC5iuNfhh mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2wWsDz3xl relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gSBon6DuFP"
        style="--b:solid;--bc:#E6E9EB;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSBon6DuFP mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="glxqxWAyu7 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gVWGiKjDLt "
        style="--ta:left;--b:solid;--bc:#E6E9EB;--bw:0px 1px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-m);--pl:var(--g-s-2xl);--pb:var(--g-s-m);--pr:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0.3px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#3B3B3B;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>Package Dimension</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gQMwdHx8gf relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gzoUqW0pWl "
        style="--ta:left;--b:solid;--bc:#E6E9EB;--bw:0px 0px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-m);--pl:var(--g-s-2xl);--pb:var(--g-s-m);--pr:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0.3px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>3.74 x 3.5 x 1.1 Inches</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gnbqJ68ZOy"
        style="--b:solid;--bc:#E6E9EB;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gnbqJ68ZOy mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gxpDqtbzR3 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gOrE6y-sON "
        style="--ta:left;--b:solid;--bc:#E6E9EB;--bw:0px 1px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-m);--pl:var(--g-s-2xl);--pb:var(--g-s-m);--pr:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0.3px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#3B3B3B;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>Material</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gYAnQkfSAH relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gBq_yxF-kl "
        style="--ta:left;--b:solid;--bc:#E6E9EB;--bw:0px 0px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-m);--pl:var(--g-s-2xl);--pb:var(--g-s-m);--pr:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0.3px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>Silicone</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gPuLkq5gZK"
        style="--b:solid;--bc:#E6E9EB;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPuLkq5gZK mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gB763w5inl relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g0zTcTeqeH "
        style="--ta:left;--b:solid;--bc:#E6E9EB;--bw:0px 1px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-m);--pl:var(--g-s-2xl);--pb:var(--g-s-m);--pr:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0.3px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#3B3B3B;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>Shelf-life</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g5DbboW14b relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gF8WaNaJpX "
        style="--ta:left;--b:solid;--bc:#E6E9EB;--bw:0px 0px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-m);--pl:var(--g-s-2xl);--pb:var(--g-s-m);--pr:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0.3px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>10 Years</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g7yxyqGmHz"
        style="--b:solid;--bc:#E6E9EB;--bw:0px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:0px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7yxyqGmHz mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gNo3fkc-kQ relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gpDk9c5t8G "
        style="--ta:left;--b:solid;--bc:#E6E9EB;--bw:0px 1px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-m);--pl:var(--g-s-2xl);--pb:var(--g-s-m);--pr:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0.3px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#3B3B3B;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>Net Weight</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gb0D49So5K "
        style="--ta:left;--b:solid;--bc:#E6E9EB;--bw:0px 1px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-m);--pl:var(--g-s-2xl);--pb:var(--g-s-m);--pr:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0.3px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#3B3B3B;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>Package Weight</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g310ucB-ZJ relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gx_OYbxC-N "
        style="--ta:left;--b:solid;--bc:#E6E9EB;--bw:0px 0px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-m);--pl:var(--g-s-2xl);--pb:var(--g-s-m);--pr:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0.3px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>80 Grams</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gr3oXwclAy "
        style="--ta:left;--b:solid;--bc:#E6E9EB;--bw:0px 0px 0px 0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-m);--pl:var(--g-s-2xl);--pb:var(--g-s-m);--pr:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:0.3px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>120 Grams</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
  </div>
  
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
    class="gp-tab-item"
  >
    
      
      
    <div
      parentTag="TabItem" id="gkY2WDzJk0"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-2xl);--pb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:906px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkY2WDzJk0 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glQbJWBYER relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g5CUemafcR "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:500;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#3B3B3B;word-break:break-word;overflow:hidden"
        >
        <p>Free Shipping:</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gweaz0FiBf "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;word-break:break-word;overflow:hidden"
        >
        <p>Familidoo is offering free shipping within the USA. Please refer to our Shipping Policy or contact us via email at info@familidooglobal.com for more information.</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gPGAUDAeiR "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:500;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#3B3B3B;word-break:break-word;overflow:hidden"
        >
        <p>Return:</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gAhsxaN2kD "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;word-break:break-word;overflow:hidden"
        >
        <p>Familidoo's 30-day return policy ensures a full refund for items in new condition. Please avoid using products and read our Refund policy or email us at info@familidooglobal.com for support.<br>&nbsp;</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
  </div>
  
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
    class="gp-tab-item"
  >
    
      
      
    <div
      parentTag="TabItem" id="g02dW-3KFM"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-2xl);--pb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:906px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g02dW-3KFM mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8hwyn_kk- relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="giPtrEjN_b ">
      
    <gp-accordion
     uid="giPtrEjN_b"
      class="flex w-full flex-col "
      style="--gg:undefinedpx"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":1,"expanded":false,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"giPtrEjN_b","childListNumber":["0"],"chidlrenUid":["gWaS0miD77","gksc0zxdmL","grQ0WStcJU"]},"styles":{"color":{"normal":"#3B3B3B"},"headerBorder":{"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#E6E9EB","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"0px","vertical":"16px"}}},"textColor":{"normal":"#3B3B3B"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"undefinedpx","padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"16px","left":"0px","right":"0px","top":"16px","type":"custom"}},"mobile":{"padding":{"bottom":"16px","left":"0px","right":"0px","top":"16px","type":"custom"}},"tablet":{"padding":{"bottom":"16px","left":"0px","right":"0px","top":"16px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}},"uid":"giPtrEjN_b"}'
    >
    <div class="hidden rotate-90 -rotate-90 rotate-180"></div>
    <div
                class="flex"
                style="--jc:left"
              >
                
  <div class="overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E6E9EB">
    <div
      data-index="0"
      class="giPtrEjN_b gp-accordion-item overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gWaS0miD77"
        id="gWaS0miD77"
        data-index="0"
        class="giPtrEjN_b gp-accordion-item-giPtrEjN_b-0 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E6E9EB;--c:#3B3B3B"
      >
       <style class="accordion-style">.gp-accordion-item-giPtrEjN_b-0:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--c:#3B3B3B;width:16px;height:16px"
            data-index="0"
            class="giPtrEjN_b gp-accordion-item_icon gp-collapsible-icon -rotate-90 inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:!h-[var(--height-iconCollapseSize)] [&>svg]:!w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:500;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p><strong>1. What is Therapy Dough?</strong></p>
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gWaS0miD77"
        data-index="0"
        class="giPtrEjN_b gp-accordion-item_body transition-all grid duration-500 overflow-hidden"
        style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gWaS0miD77"
        data-index="0"
        class="giPtrEjN_b gp-accordion-item_body-inner min-h-0 transition-all duration-500"  style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="gsNUElTYaW relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gDTbQRgRqH "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:-8px;--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>&nbsp;</p><p><span style="background-color:rgb(255,255,255);color:rgb(13,13,13);font-size:16px;">Therapy Dough is a silicone-based product crafted from premium materials and infused with unique scents to provide a complete stress relief solution.</span></p>
        </div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
  <div class="overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E6E9EB">
    <div
      data-index="1"
      class="giPtrEjN_b gp-accordion-item overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gksc0zxdmL"
        id="gksc0zxdmL"
        data-index="1"
        class="giPtrEjN_b gp-accordion-item-giPtrEjN_b-1 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--c:#3B3B3B;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E6E9EB"
      >
       <style class="accordion-style">.gp-accordion-item-giPtrEjN_b-1:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--c:#3B3B3B;width:16px;height:16px"
            data-index="1"
            class="giPtrEjN_b gp-accordion-item_icon gp-collapsible-icon rotate-90 inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:!h-[var(--height-iconCollapseSize)] [&>svg]:!w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:500;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p><strong>2. How does Therapy Dough work?</strong></p>
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gksc0zxdmL"
        data-index="1"
        class="giPtrEjN_b gp-accordion-item_body transition-all grid duration-500 overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gksc0zxdmL"
        data-index="1"
        class="giPtrEjN_b gp-accordion-item_body-inner min-h-0 transition-all duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="gXUDAwd1II relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gYupZJqqzX "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:-8px;--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6E74;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>&nbsp;</p><p><span style="background-color:rgb(255,255,255);color:rgb(13,13,13);font-size:16px;">Release stress and tension by kneading and squeezing the dough. The aroma of each dough variant enhances your sensory experience, leaving you feeling rejuvenated.</span></p>
        </div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
  <div class="overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E6E9EB">
    <div
      data-index="2"
      class="giPtrEjN_b gp-accordion-item overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="grQ0WStcJU"
        id="grQ0WStcJU"
        data-index="2"
        class="giPtrEjN_b gp-accordion-item-giPtrEjN_b-2 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:0px;--pr:0px;--pt:16px;--pb:16px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--c:#3B3B3B;--bs:solid;--bw:0px 0px 0px 0px;--bc:#E6E9EB"
      >
       <style class="accordion-style">.gp-accordion-item-giPtrEjN_b-2:hover { 
              .gp-collapsible-icon { 
                  color: undefined 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--c:#3B3B3B;width:16px;height:16px"
            data-index="2"
            class="giPtrEjN_b gp-accordion-item_icon gp-collapsible-icon rotate-90 inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:!h-[var(--height-iconCollapseSize)] [&>svg]:!w-auto"
          ><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z" fill="currentColor"/>
                  </svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:500;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p><strong>3. Is Therapy Dough suitable for all ages?</strong></p>
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="grQ0WStcJU"
        data-index="2"
        class="giPtrEjN_b gp-accordion-item_body transition-all grid duration-500 overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="grQ0WStcJU"
        data-index="2"
        class="giPtrEjN_b gp-accordion-item_body-inner min-h-0 transition-all duration-500"  style="--pl:0px;--pr:0px;--pl-tablet:0px;--pr-tablet:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="g2rbcWOxVL relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gYH-WXsVnl "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:-8px;--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#4f4f4f;--tt:none;word-break:break-word;overflow:hidden"
        >
        <p>&nbsp;</p><p><span style="background-color:rgb(255,255,255);color:rgb(13,13,13);font-size:16px;">Therapy Dough is suitable for individuals aged 13 and above. It's a versatile tool for stress relief and hand strengthening exercises, perfect for both children and adults.</span></p>
        </div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
  </div>
  
            </div>
          </div>
        </div>
      </div>
    </gp-tab>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-tab.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZNqsvjhAh relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gBn43mF0Jm"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Choose Your Scent!"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://gemx-uploader-customermediabackupbucket-1o3rph6fqnedn.s3.amazonaws.com/499742552031757542-a5440fe8-f45a-456e-ab51-5693528b7d5b.jpg" data-srcset="https://gemx-uploader-customermediabackupbucket-1o3rph6fqnedn.s3.amazonaws.com/499742552031757542-a5440fe8-f45a-456e-ab51-5693528b7d5b.jpg 768w,https://gemx-uploader-customermediabackupbucket-1o3rph6fqnedn.s3.amazonaws.com/499742552031757542-a5440fe8-f45a-456e-ab51-5693528b7d5b.jpg 1024w,https://gemx-uploader-customermediabackupbucket-1o3rph6fqnedn.s3.amazonaws.com/499742552031757542-a5440fe8-f45a-456e-ab51-5693528b7d5b.jpg 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="4504" height="8000" alt="Therapy Dough Various Scents" priority base-src
    sizes="100vw"
    style="--aspect:4504/8000;--aspect-tablet:4504/8000;--aspect-mobile:4504/8000;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-505483104723403655 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/familidoo/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=505483104538854279&sectionId=505483104723403655)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
