
  
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=DM+Sans:700,400|Open+Sans:400,700&display=swap');
      </style>
    
  <style>
    .gps-502887165890462664 .-rotate-90,.gps-502887165890462664 .rotate-180,.gps-502887165890462664 .rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-502887165890462664 .relative{position:relative}.gps-502887165890462664 .mx-auto{margin-left:auto;margin-right:auto}.gps-502887165890462664 .mb-0{margin-bottom:0}.gps-502887165890462664 .flex{display:flex}.gps-502887165890462664 .inline-flex{display:inline-flex}.gps-502887165890462664 .grid{display:grid}.gps-502887165890462664 .hidden{display:none}.gps-502887165890462664 .min-h-0{min-height:0}.gps-502887165890462664 .w-full{width:100%}.gps-502887165890462664 .max-w-full{max-width:100%}.gps-502887165890462664 .-rotate-90{--tw-rotate:-90deg}.gps-502887165890462664 .-rotate-90,.gps-502887165890462664 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-502887165890462664 .rotate-180{--tw-rotate:180deg}.gps-502887165890462664 .rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-502887165890462664 .cursor-pointer{cursor:pointer}.gps-502887165890462664 .flex-col{flex-direction:column}.gps-502887165890462664 .items-center{align-items:center}.gps-502887165890462664 .justify-center{justify-content:center}.gps-502887165890462664 .gap-y-0{row-gap:0}.gps-502887165890462664 .overflow-hidden{overflow:hidden}.gps-502887165890462664 .overflow-clip{overflow:clip}.gps-502887165890462664 .border{border-width:1px}.gps-502887165890462664 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-502887165890462664 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-502887165890462664 .duration-200{transition-duration:.2s}.gps-502887165890462664 .duration-500{transition-duration:.5s}.gps-502887165890462664 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-502887165890462664 .\[\&\>svg\]\:\!h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-502887165890462664 .\[\&\>svg\]\:\!w-auto>svg{width:auto!important}.gps-502887165890462664 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-502887165890462664 .\[\&_p\]\:inline p{display:inline}.gps-502887165890462664 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-502887165890462664 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g_vSCUSHKj"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:72px;--pl:15px;--pb:72px;--pr:15px;--pt-tablet:63px;--pl-tablet:15px;--pb-tablet:63px;--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgc-mobile:#FFFFFF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="g_vSCUSHKj mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9Olajynkb relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gFfzISi_xb"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFfzISi_xb mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gT6u1cR4Pr relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g2FPxaAAjX "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#EE6A77;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:700;--ls:normal;--lh:120%;--size:51px;--size-tablet:51px;--size-mobile:44px;word-break:break-word;overflow:hidden"
        >
        <p>FAQs</p>
        </h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gfvRXo_dYE "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--mb-tablet:var(--g-s-s)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#EE6A77;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans');--weight:400;--ls:normal;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word;overflow:hidden"
        >
        <p><strong>Need help? We've got you covered!</strong></p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gEtE4TrAFX"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEtE4TrAFX mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8c_6s_9GR relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--mb-mobile:var(--g-s-l)" class="gBqpGKMqNd ">
      
    <gp-accordion
     uid="gBqpGKMqNd"
      class="flex w-full flex-col "
      style="--gg:var(--g-s-l)"
      gp-data='{"setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":1,"expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gBqpGKMqNd","childListNumber":[],"chidlrenUid":["gbF724i1OM","gOiZpeAq_1","gm_vvnyxPF"]},"styles":{"bgColor":{"normal":"transparent"},"color":{"active":"#B4B4B4","hover":"#B4B4B4","normal":"#58AD53"},"headerBorder":{"normal":{"border":"none","borderLabel":"None","borderType":"none","color":"transparent","isCustom":false,"width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"16px","vertical":"16px"}}},"textColor":{"normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"var(--g-s-l)","padding":{"bottom":"0px","left":"16px","right":"16px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"16px","right":"16px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"16px","right":"16px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"16px","left":"16px","right":"16px","top":"16px","type":"custom"}},"mobile":{"padding":{"bottom":"16px","left":"16px","right":"16px","top":"16px","type":"custom"}},"tablet":{"padding":{"bottom":"16px","left":"16px","right":"16px","top":"16px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}},"uid":"gBqpGKMqNd"}'
    >
    <div class="hidden rotate-90 -rotate-90 rotate-180"></div>
    <div
                class="flex"
                style="--jc:left"
              >
                
  <div class="overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0">
    <div
      data-index="0"
      class="gBqpGKMqNd gp-accordion-item overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gbF724i1OM"
        id="gbF724i1OM"
        data-index="0"
        class="gBqpGKMqNd gp-accordion-item-gBqpGKMqNd-0 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--c:#242424;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
       <style class="accordion-style">.gp-accordion-item-gBqpGKMqNd-0:hover { 
              .gp-collapsible-icon { 
                  color: #B4B4B4 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--hvr-c:#B4B4B4;--c:#58AD53;width:16px;height:16px"
            data-index="0"
            class="gBqpGKMqNd gp-accordion-item_icon gp-collapsible-icon rotate-90 inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:!h-[var(--height-iconCollapseSize)] [&>svg]:!w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:400;--ls:normal;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word;overflow:hidden"
        >
        <p>How do I place an order?</p>
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gbF724i1OM"
        data-index="0"
        class="gBqpGKMqNd gp-accordion-item_body transition-all grid duration-500 overflow-hidden"
        style="grid-template-rows:0fr"
      >
        <div
        uid="gbF724i1OM"
        data-index="0"
        class="gBqpGKMqNd gp-accordion-item_body-inner min-h-0 transition-all duration-500"  style="--pl:16px;--pr:16px;--pl-tablet:16px;--pr-tablet:16px;--pl-mobile:16px;--pr-mobile:16px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="g_alWReBaT relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="giNYlMaeov "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >
        <p>In order to process your order we require the following information:</p><ul><li>Your shipping, order information &amp; billing address.</li><li>Phone number &amp; email address for order confirmation and invoice.</li><li>Payment method – follow required steps to complete your order.</li></ul>
        </div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
  <div class="overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0">
    <div
      data-index="1"
      class="gBqpGKMqNd gp-accordion-item overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gOiZpeAq_1"
        id="gOiZpeAq_1"
        data-index="1"
        class="gBqpGKMqNd gp-accordion-item-gBqpGKMqNd-1 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--c:#242424;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
       <style class="accordion-style">.gp-accordion-item-gBqpGKMqNd-1:hover { 
              .gp-collapsible-icon { 
                  color: #B4B4B4 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--hvr-c:#B4B4B4;--c:#58AD53;width:16px;height:16px"
            data-index="1"
            class="gBqpGKMqNd gp-accordion-item_icon gp-collapsible-icon rotate-90 inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:!h-[var(--height-iconCollapseSize)] [&>svg]:!w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:400;--ls:normal;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word;overflow:hidden"
        >
        <p class="">Do you sell parts separately?</p>
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gOiZpeAq_1"
        data-index="1"
        class="gBqpGKMqNd gp-accordion-item_body transition-all grid duration-500 overflow-hidden"
        style="grid-template-rows:0fr"
      >
        <div
        uid="gOiZpeAq_1"
        data-index="1"
        class="gBqpGKMqNd gp-accordion-item_body-inner min-h-0 transition-all duration-500"  style="--pl:16px;--pr:16px;--pl-tablet:16px;--pr-tablet:16px;--pl-mobile:16px;--pr-mobile:16px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="gIyv49sP5W relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gyipGjjof6 "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >
        <p>Yes, we work with Global Supply Chain Teams to fulfill your needs. You can chat with and feel free to reach out to our Customer Experience team for more updates.</p>
        </div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
  <div class="overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0">
    <div
      data-index="2"
      class="gBqpGKMqNd gp-accordion-item overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gm_vvnyxPF"
        id="gm_vvnyxPF"
        data-index="2"
        class="gBqpGKMqNd gp-accordion-item-gBqpGKMqNd-2 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--c:#242424;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
       <style class="accordion-style">.gp-accordion-item-gBqpGKMqNd-2:hover { 
              .gp-collapsible-icon { 
                  color: #B4B4B4 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--hvr-c:#B4B4B4;--c:#58AD53;width:16px;height:16px"
            data-index="2"
            class="gBqpGKMqNd gp-accordion-item_icon gp-collapsible-icon rotate-90 inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:!h-[var(--height-iconCollapseSize)] [&>svg]:!w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:400;--ls:normal;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word;overflow:hidden"
        >
        <p class="">Should I expect delays when ordering?</p>
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gm_vvnyxPF"
        data-index="2"
        class="gBqpGKMqNd gp-accordion-item_body transition-all grid duration-500 overflow-hidden"
        style="grid-template-rows:0fr"
      >
        <div
        uid="gm_vvnyxPF"
        data-index="2"
        class="gBqpGKMqNd gp-accordion-item_body-inner min-h-0 transition-all duration-500"  style="--pl:16px;--pr:16px;--pl-tablet:16px;--pr-tablet:16px;--pl-mobile:16px;--pr-mobile:16px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="g9YkHnZ-G0 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gl27G3X6WK "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >
        <p>Normally, the shipped package will arrive within 7 days. We keep you updated your shipping status and please contact us via email if you need more support. Thank you.</p>
        </div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gD76f5Zz8B relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined)" class="ge87KWnySz ">
      
    <gp-accordion
     uid="ge87KWnySz"
      class="flex w-full flex-col "
      style="--gg:var(--g-s-l)"
      gp-data='{"setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":1,"expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"ge87KWnySz","childListNumber":[],"chidlrenUid":["gOKHR4uUF_","g3dY9A7bz7","gSUHcJOizo"]},"styles":{"bgColor":{"normal":"transparent"},"color":{"active":"#B4B4B4","hover":"#B4B4B4","normal":"#58AD53"},"headerBorder":{"normal":{"border":"none","borderLabel":"None","borderType":"none","color":"transparent","isCustom":false,"width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"16px","vertical":"16px"}}},"textColor":{"normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"var(--g-s-l)","padding":{"bottom":"0px","left":"16px","right":"16px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"16px","right":"16px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"16px","right":"16px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"16px","left":"16px","right":"16px","top":"16px","type":"custom"}},"mobile":{"padding":{"bottom":"16px","left":"16px","right":"16px","top":"16px","type":"custom"}},"tablet":{"padding":{"bottom":"16px","left":"16px","right":"16px","top":"16px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}},"uid":"ge87KWnySz"}'
    >
    <div class="hidden rotate-90 -rotate-90 rotate-180"></div>
    <div
                class="flex"
                style="--jc:left"
              >
                
  <div class="overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0">
    <div
      data-index="0"
      class="ge87KWnySz gp-accordion-item overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gOKHR4uUF_"
        id="gOKHR4uUF_"
        data-index="0"
        class="ge87KWnySz gp-accordion-item-ge87KWnySz-0 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--c:#242424;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
       <style class="accordion-style">.gp-accordion-item-ge87KWnySz-0:hover { 
              .gp-collapsible-icon { 
                  color: #B4B4B4 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--hvr-c:#B4B4B4;--c:#58AD53;width:16px;height:16px"
            data-index="0"
            class="ge87KWnySz gp-accordion-item_icon gp-collapsible-icon rotate-90 inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:!h-[var(--height-iconCollapseSize)] [&>svg]:!w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:400;--ls:normal;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word;overflow:hidden"
        >
        <p>When will my order ship?</p>
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gOKHR4uUF_"
        data-index="0"
        class="ge87KWnySz gp-accordion-item_body transition-all grid duration-500 overflow-hidden"
        style="grid-template-rows:0fr"
      >
        <div
        uid="gOKHR4uUF_"
        data-index="0"
        class="ge87KWnySz gp-accordion-item_body-inner min-h-0 transition-all duration-500"  style="--pl:16px;--pr:16px;--pl-tablet:16px;--pr-tablet:16px;--pl-mobile:16px;--pr-mobile:16px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="gOGJfIfBK9 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gFe_Xa8LK4 "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >
        <p>Orders placed Monday - Thursday are usually shipped out on the following business day. Orders placed on holidays or over weekends will be processed on the next business day. Normally, the shipped package will arrive within 7 days.</p>
        </div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
  <div class="overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0">
    <div
      data-index="1"
      class="ge87KWnySz gp-accordion-item overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g3dY9A7bz7"
        id="g3dY9A7bz7"
        data-index="1"
        class="ge87KWnySz gp-accordion-item-ge87KWnySz-1 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--c:#242424;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
       <style class="accordion-style">.gp-accordion-item-ge87KWnySz-1:hover { 
              .gp-collapsible-icon { 
                  color: #B4B4B4 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--hvr-c:#B4B4B4;--c:#58AD53;width:16px;height:16px"
            data-index="1"
            class="ge87KWnySz gp-accordion-item_icon gp-collapsible-icon rotate-90 inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:!h-[var(--height-iconCollapseSize)] [&>svg]:!w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:400;--ls:normal;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word;overflow:hidden"
        >
        <p>What is your refund policy?</p>
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="g3dY9A7bz7"
        data-index="1"
        class="ge87KWnySz gp-accordion-item_body transition-all grid duration-500 overflow-hidden"
        style="grid-template-rows:0fr"
      >
        <div
        uid="g3dY9A7bz7"
        data-index="1"
        class="ge87KWnySz gp-accordion-item_body-inner min-h-0 transition-all duration-500"  style="--pl:16px;--pr:16px;--pl-tablet:16px;--pr-tablet:16px;--pl-mobile:16px;--pr-mobile:16px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="gwYWbJxW09 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gkoGjAV6xa "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >
        <p>We offer a 30-day trial period. Please be mindful of keeping items in new condition and avoid using strollers outdoors to ensure a full refund, please contact us via email at info@familidooglobal.com for more support.</p>
        </div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="flex"
                style="--jc:left"
              >
                
  <div class="overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0">
    <div
      data-index="2"
      class="ge87KWnySz gp-accordion-item overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gSUHcJOizo"
        id="gSUHcJOizo"
        data-index="2"
        class="ge87KWnySz gp-accordion-item-ge87KWnySz-2 flex items-center gp-accordion-item_header cursor-pointer"
        style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--c:#242424;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent"
      >
       <style class="accordion-style">.gp-accordion-item-ge87KWnySz-2:hover { 
              .gp-collapsible-icon { 
                  color: #B4B4B4 
              }

              .gp-icon { 
                  color: #121212 
              }
          }</style>
        <div class="inline-flex">
        <span
            style="--hvr-c:#B4B4B4;--c:#58AD53;width:16px;height:16px"
            data-index="2"
            class="ge87KWnySz gp-accordion-item_icon gp-collapsible-icon rotate-90 inline-flex items-center justify-center overflow-hidden transition-all duration-200 [&>svg]:!h-[var(--height-iconCollapseSize)] [&>svg]:!w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>
          
        </div>
      <div class="flex items-center w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        style=""
      >
      <div class="" style="">
        <span
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:400;--ls:normal;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word;overflow:hidden"
        >
        <p>How can I contact you?</p>
        </span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gSUHcJOizo"
        data-index="2"
        class="ge87KWnySz gp-accordion-item_body transition-all grid duration-500 overflow-hidden"
        style="grid-template-rows:0fr"
      >
        <div
        uid="gSUHcJOizo"
        data-index="2"
        class="ge87KWnySz gp-accordion-item_body-inner min-h-0 transition-all duration-500"  style="--pl:16px;--pr:16px;--pl-tablet:16px;--pr-tablet:16px;--pl-mobile:16px;--pr-mobile:16px" >
            <div
      label="Block" tag="Col" type="component"
      style=""
      class="gY-XdPdstA relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gDn9qeCZgt "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-DM-Sans, 'DM Sans');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >
        <p>If you have a question about stroller or any of our products, we encourage you to contact us via live chat or email info@familidooglobal.com. We do our best to respond to all inquiries within 2 business days.</p>
        </div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-502887165890462664 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/familidoo/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=502887154884543432&sectionId=502887165890462664)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
