
  
  
      <style>
        @font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=pxiEyp8kv8JHgFVrJJfedA&skey=87759fb096548f6d&v=v20) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=pxiByp8kv8JHgFVrLEj6Z1xlEw&skey=ce7ef9d62ca89319&v=v20) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=pxiByp8kv8JHgFVrLCz7Z1xlEw&skey=cea76fe63715a67a&v=v20) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-502468714659120072 .-translate-x-full,.gps-502468714659120072 .-translate-y-1\/2,.gps-502468714659120072 .mobile\:-translate-y-1\/2,.gps-502468714659120072 .mobile\:rotate-0,.gps-502468714659120072 .mobile\:rotate-180,.gps-502468714659120072 .mobile\:translate-x-0,.gps-502468714659120072 .mobile\:translate-y-1\/2,.gps-502468714659120072 .rotate-0,.gps-502468714659120072 .rotate-180,.gps-502468714659120072 .tablet\:-translate-y-1\/2,.gps-502468714659120072 .tablet\:rotate-0,.gps-502468714659120072 .tablet\:rotate-180,.gps-502468714659120072 .tablet\:translate-x-0,.gps-502468714659120072 .tablet\:translate-y-1\/2,.gps-502468714659120072 .transform,.gps-502468714659120072 .translate-x-full,.gps-502468714659120072 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-502468714659120072 [data-browser=safari]:after{--tw-gradient-from-position: ;--tw-gradient-via-position: ;--tw-gradient-to-position: }.gps-502468714659120072 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-502468714659120072 .btn-disabled{cursor:default}.gps-502468714659120072 .pointer-events-none{pointer-events:none}.gps-502468714659120072 .invisible{visibility:hidden}.gps-502468714659120072 .absolute{position:absolute}.gps-502468714659120072 .relative{position:relative}.gps-502468714659120072 .inset-0{inset:0}.gps-502468714659120072 .bottom-0{bottom:0}.gps-502468714659120072 .bottom-1\/2{bottom:50%}.gps-502468714659120072 .left-0{left:0}.gps-502468714659120072 .left-1{left:4px}.gps-502468714659120072 .left-4{left:16px}.gps-502468714659120072 .right-0{right:0}.gps-502468714659120072 .right-1{right:4px}.gps-502468714659120072 .right-4{right:16px}.gps-502468714659120072 .top-0{top:0}.gps-502468714659120072 .top-1\/2{top:50%}.gps-502468714659120072 .z-1{z-index:1}.gps-502468714659120072 .z-2{z-index:2}.gps-502468714659120072 .z-\[90\]{z-index:90}.gps-502468714659120072 .\!m-0{margin:0!important}.gps-502468714659120072 .\!m-auto{margin:auto!important}.gps-502468714659120072 .mx-auto{margin-left:auto;margin-right:auto}.gps-502468714659120072 .my-0{margin-bottom:0;margin-top:0}.gps-502468714659120072 .mb-0{margin-bottom:0}.gps-502468714659120072 .ml-1{margin-left:4px}.gps-502468714659120072 .mt-2{margin-top:8px}.gps-502468714659120072 .mt-4{margin-top:16px}.gps-502468714659120072 .block{display:block}.gps-502468714659120072 .inline-block{display:inline-block}.gps-502468714659120072 .flex{display:flex}.gps-502468714659120072 .inline-flex{display:inline-flex}.gps-502468714659120072 .grid{display:grid}.gps-502468714659120072 .contents{display:contents}.gps-502468714659120072 .\!hidden{display:none!important}.gps-502468714659120072 .hidden{display:none}.gps-502468714659120072 .aspect-square{aspect-ratio:1/1}.gps-502468714659120072 .h-0{height:0}.gps-502468714659120072 .h-5{height:20px}.gps-502468714659120072 .h-6{height:24px}.gps-502468714659120072 .h-fit{height:-moz-fit-content;height:fit-content}.gps-502468714659120072 .h-full{height:100%}.gps-502468714659120072 .w-5{width:20px}.gps-502468714659120072 .w-6{width:24px}.gps-502468714659120072 .w-\[12px\]{width:12px}.gps-502468714659120072 .w-full{width:100%}.gps-502468714659120072 .\!min-w-full{min-width:100%!important}.gps-502468714659120072 .\!max-w-full{max-width:100%!important}.gps-502468714659120072 .\!max-w-none{max-width:none!important}.gps-502468714659120072 .max-w-full{max-width:100%}.gps-502468714659120072 .flex-1{flex:1 1 0%}.gps-502468714659120072 .flex-none{flex:none}.gps-502468714659120072 .shrink-0{flex-shrink:0}.gps-502468714659120072 .-translate-x-full{--tw-translate-x:-100%}.gps-502468714659120072 .-translate-x-full,.gps-502468714659120072 .-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-502468714659120072 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-502468714659120072 .translate-x-full{--tw-translate-x:100%}.gps-502468714659120072 .translate-x-full,.gps-502468714659120072 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-502468714659120072 .translate-y-1\/2{--tw-translate-y:50%}.gps-502468714659120072 .rotate-0{--tw-rotate:0deg}.gps-502468714659120072 .rotate-0,.gps-502468714659120072 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-502468714659120072 .rotate-180{--tw-rotate:180deg}.gps-502468714659120072 .transform{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}@keyframes spin{to{transform:rotate(1turn)}}.gps-502468714659120072 .animate-spin{animation:spin 1s linear infinite}.gps-502468714659120072 .cursor-pointer{cursor:pointer}.gps-502468714659120072 .flex-row{flex-direction:row}.gps-502468714659120072 .flex-col{flex-direction:column}.gps-502468714659120072 .flex-wrap{flex-wrap:wrap}.gps-502468714659120072 .items-start{align-items:flex-start}.gps-502468714659120072 .items-end{align-items:flex-end}.gps-502468714659120072 .items-center{align-items:center}.gps-502468714659120072 .justify-center{justify-content:center}.gps-502468714659120072 .gap-2{gap:8px}.gps-502468714659120072 .gap-3{gap:12px}.gps-502468714659120072 .gap-y-0{row-gap:0}.gps-502468714659120072 .overflow-hidden{overflow:hidden}.gps-502468714659120072 .break-words{overflow-wrap:break-word}.gps-502468714659120072 .\!rounded-none{border-radius:0!important}.gps-502468714659120072 .rounded-full{border-radius:9999px}.gps-502468714659120072 .rounded-none{border-radius:0}.gps-502468714659120072 .border{border-width:1px}.gps-502468714659120072 .bg-black\/50{background-color:rgba(0,0,0,.5)}.gps-502468714659120072 .bg-g-brand{background-color:var(--g-c-brand)}.gps-502468714659120072 .bg-white{--tw-bg-opacity:1;background-color:rgb(255 255 255/var(--tw-bg-opacity))}.gps-502468714659120072 .px-0{padding-left:0;padding-right:0}.gps-502468714659120072 .py-0{padding-bottom:0;padding-top:0}.gps-502468714659120072 .\!pb-0{padding-bottom:0!important}.gps-502468714659120072 .pb-1{padding-bottom:4px}.gps-502468714659120072 .pr-1{padding-right:4px}.gps-502468714659120072 .text-center{text-align:center}.gps-502468714659120072 .italic{font-style:italic}.gps-502468714659120072 .leading-\[0\]{line-height:0}.gps-502468714659120072 .text-g-text-1{color:var(--g-c-text-1)}.gps-502468714659120072 .text-g-text-3{color:var(--g-c-text-3)}.gps-502468714659120072 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-502468714659120072 .line-through{text-decoration-line:line-through}.gps-502468714659120072 .no-underline{text-decoration-line:none}.gps-502468714659120072 .decoration-g-highlight{text-decoration-color:var(--g-c-highlight)}.gps-502468714659120072 .opacity-0{opacity:0}.gps-502468714659120072 .opacity-25{opacity:.25}.gps-502468714659120072 .opacity-30{opacity:.3}.gps-502468714659120072 .opacity-75{opacity:.75}.gps-502468714659120072 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-502468714659120072 .outline{outline-style:solid}.gps-502468714659120072 .outline-1{outline-width:1px}.gps-502468714659120072 .-outline-offset-1{outline-offset:-1px}.gps-502468714659120072 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-502468714659120072 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-502468714659120072 .transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-502468714659120072 .duration-100{transition-duration:.1s}.gps-502468714659120072 .duration-200{transition-duration:.2s}.gps-502468714659120072 .duration-300{transition-duration:.3s}.gps-502468714659120072 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-502468714659120072 .disabled\:btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-502468714659120072 .hover\:bg-g-highlight:hover{background-color:var(--g-c-highlight)}.gps-502468714659120072 .hover\:opacity-80:hover{opacity:.8}}.gps-502468714659120072 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-502468714659120072 .disabled\:cursor-default:disabled{cursor:default}.gps-502468714659120072 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-502468714659120072 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-502468714659120072 .group:hover .group-hover\:opacity-100{opacity:1}}.gps-502468714659120072 .data-\[disabled\=true\]\:hidden[data-disabled=true]{display:none}.gps-502468714659120072 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}.gps-502468714659120072 .data-\[hidden\=true\]\:hidden[data-hidden=true],.gps-502468714659120072 .data-\[only-image\=true\]\:hidden[data-only-image=true]{display:none}.gps-502468714659120072 .data-\[outline\=active\]\:outline[data-outline=active]{outline-style:solid}.gps-502468714659120072 .data-\[browser\=safari\]\:after\:absolute[data-browser=safari]:after{content:var(--tw-content);position:absolute}.gps-502468714659120072 .data-\[browser\=safari\]\:after\:bottom-0[data-browser=safari]:after{bottom:0;content:var(--tw-content)}.gps-502468714659120072 .data-\[browser\=safari\]\:after\:left-0[data-browser=safari]:after{content:var(--tw-content);left:0}.gps-502468714659120072 .data-\[browser\=safari\]\:after\:right-0[data-browser=safari]:after{content:var(--tw-content);right:0}.gps-502468714659120072 .data-\[browser\=safari\]\:after\:h-1\/2[data-browser=safari]:after{content:var(--tw-content);height:50%}.gps-502468714659120072 .data-\[browser\=safari\]\:after\:w-full[data-browser=safari]:after{content:var(--tw-content);width:100%}.gps-502468714659120072 .data-\[outline\=deactive\]\:after\:\!border-transparent[data-outline=deactive]:after{border-color:transparent!important;content:var(--tw-content)}.gps-502468714659120072 .data-\[browser\=safari\]\:after\:bg-gradient-to-t[data-browser=safari]:after{background-image:linear-gradient(to top,var(--tw-gradient-stops));content:var(--tw-content)}.gps-502468714659120072 .data-\[browser\=safari\]\:after\:from-white[data-browser=safari]:after{--tw-gradient-from:#fff var(--tw-gradient-from-position);--tw-gradient-to:hsla(0,0%,100%,0) var(--tw-gradient-to-position);--tw-gradient-stops:var(--tw-gradient-from),var(--tw-gradient-to);content:var(--tw-content)}.gps-502468714659120072 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-502468714659120072 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-502468714659120072 .scrollbar-thumb\:rounded-2xl::-webkit-scrollbar-thumb,.gps-502468714659120072 .scrollbar-track\:rounded-2xl::-webkit-scrollbar-track{border-radius:16px}.gps-502468714659120072 .scrollbar-thumb\:bg-gray-400::-webkit-scrollbar-thumb{--tw-bg-opacity:1;background-color:rgb(156 163 175/var(--tw-bg-opacity))}@media (max-width:1023px){.gps-502468714659120072 .tablet\:-left-4{left:-16px}.gps-502468714659120072 .tablet\:-right-4{right:-16px}.gps-502468714659120072 .tablet\:bottom-1\/2{bottom:50%}.gps-502468714659120072 .tablet\:left-4{left:16px}.gps-502468714659120072 .tablet\:right-4{right:16px}.gps-502468714659120072 .tablet\:top-1\/2{top:50%}.gps-502468714659120072 .tablet\:mt-2{margin-top:8px}.gps-502468714659120072 .tablet\:block{display:block}.gps-502468714659120072 .tablet\:\!inline{display:inline!important}.gps-502468714659120072 .tablet\:\!hidden{display:none!important}.gps-502468714659120072 .tablet\:w-full{width:100%}.gps-502468714659120072 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-502468714659120072 .tablet\:-translate-y-1\/2,.gps-502468714659120072 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-502468714659120072 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-502468714659120072 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-502468714659120072 .tablet\:rotate-0,.gps-502468714659120072 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-502468714659120072 .tablet\:rotate-0{--tw-rotate:0deg}.gps-502468714659120072 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-502468714659120072 .tablet\:flex-row{flex-direction:row}.gps-502468714659120072 .tablet\:px-0{padding-left:0;padding-right:0}.gps-502468714659120072 .tablet\:py-0{padding-bottom:0;padding-top:0}.gps-502468714659120072 .tablet\:pl-1{padding-left:4px}}@media (max-width:767px){.gps-502468714659120072 .mobile\:-left-4{left:-16px}.gps-502468714659120072 .mobile\:-right-4{right:-16px}.gps-502468714659120072 .mobile\:bottom-1\/2{bottom:50%}.gps-502468714659120072 .mobile\:left-4{left:16px}.gps-502468714659120072 .mobile\:right-4{right:16px}.gps-502468714659120072 .mobile\:top-1\/2{top:50%}.gps-502468714659120072 .mobile\:mt-2{margin-top:8px}.gps-502468714659120072 .mobile\:block{display:block}.gps-502468714659120072 .mobile\:\!inline{display:inline!important}.gps-502468714659120072 .mobile\:\!hidden{display:none!important}.gps-502468714659120072 .mobile\:w-full{width:100%}.gps-502468714659120072 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-502468714659120072 .mobile\:-translate-y-1\/2,.gps-502468714659120072 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-502468714659120072 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-502468714659120072 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-502468714659120072 .mobile\:rotate-0,.gps-502468714659120072 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-502468714659120072 .mobile\:rotate-0{--tw-rotate:0deg}.gps-502468714659120072 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-502468714659120072 .mobile\:flex-row{flex-direction:row}.gps-502468714659120072 .mobile\:\!flex-nowrap{flex-wrap:nowrap!important}.gps-502468714659120072 .mobile\:px-0{padding-left:0;padding-right:0}.gps-502468714659120072 .mobile\:py-0{padding-bottom:0;padding-top:0}.gps-502468714659120072 .mobile\:pl-1{padding-left:4px}}.gps-502468714659120072 .\[\&\>svg\]\:\!h-6>svg{height:24px!important}.gps-502468714659120072 .\[\&\>svg\]\:\!h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-502468714659120072 .\[\&\>svg\]\:\!w-6>svg{width:24px!important}.gps-502468714659120072 .\[\&\>svg\]\:\!w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-502468714659120072 .tablet\:\[\&\>svg\]\:\!h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-502468714659120072 .mobile\:\[\&\>svg\]\:\!h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-502468714659120072 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-502468714659120072 .\[\&_p\]\:inline p{display:inline}.gps-502468714659120072 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-502468714659120072 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-502468714659120072 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}@media not all and (-webkit-min-device-pixel-ratio:0),not all and (min-resolution:0.001dpcm){.gps-502468714659120072 .safari\:\[\&_p\]\:inline p{display:inline}.gps-502468714659120072 .safari\:\[\&_p\]\:after\:whitespace-pre p:after{content:var(--tw-content);white-space:pre}}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gTAV79EUMD"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pl:15px;--pb:50px;--pr:15px;--pb-mobile:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTAV79EUMD mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1eMqIts1D relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gJ5DBd657Y"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJ5DBd657Y mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLtwY9Rnwn relative flex flex-col"
    >
      {% render 'gp-section-502468714659120072-0', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-502468714659120072 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/familidoo/apps/bold/app/shopify/edit?pageType=GP_COLLECTION&editorId=502468712746451912&sectionId=502468714659120072)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
