
  
  
  <style>
    .gps-499842790662865693 .container{width:100%}.gps-499842790662865693 .relative{position:relative}.gps-499842790662865693 .mx-auto{margin-left:auto;margin-right:auto}.gps-499842790662865693 .mb-0{margin-bottom:0}.gps-499842790662865693 .flex{display:flex}.gps-499842790662865693 .grid{display:grid}.gps-499842790662865693 .w-full{width:100%}.gps-499842790662865693 .max-w-full{max-width:100%}.gps-499842790662865693 .flex-col{flex-direction:column}.gps-499842790662865693 .gap-y-0{row-gap:0}.gps-499842790662865693 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-499842790662865693 .duration-200{transition-duration:.2s}.gps-499842790662865693 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-499842790662865693 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gH0csUv3PV"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(undefined);--pb:var(undefined);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gH0csUv3PV mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQODWTpb4t relative flex flex-col"
    >
      <div style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]" class="gRKl2_rEMR ">
      
    <div class='flex'>
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-image-comparison.js" defer="defer"></script>
  <gp-image-comparison
    gp-data='{"aspectRatio":{"desktop":"16/9"},"defaultRatio":"1366/768","handle":null,"handleSize":40,"hover":false,"leftImage":{"src":"https://ucarecdn.com/e55ea4f1-0ca3-4d7f-98b1-e17f76f90a24/-/format/auto/","width":1366,"height":768,"backupFileKey":"499742552031757542-3dfefebd-5c6d-40b2-bbf6-7cc0c32bd602.png"},"leftImageCss":{},"rightImage":{"src":"https://ucarecdn.com/f6839d50-cebd-41a6-a7ed-311f3a60f3c6/-/format/auto/","width":1366,"height":768,"backupFileKey":"499742552031757542-aa48e56d-4262-4f02-adcd-7a5558b558a8.png"},"rightImageCss":{},"sliderLineColor":"#ffffff","sliderLineWidth":2,"sliderPositionPercentage":0.5,"componentUid":"gRKl2_rEMR","vertical":false}'
    class="w-full flex "
    style="--jc:start;--jc-tablet:start;--jc-mobile:start;min-width:200px"
  >
  <div id="img-comparison-wrapper-gRKl2_rEMR" style="--w:100%;--w-tablet:100%;--w-mobile:100%">
    <div
      style="box-sizing:border-box;position:relative;overflow:hidden;height:auto;display:block;--radius:var(--g-radius-none)"
      id="img-comparison-container-gRKl2_rEMR"
      data-testid="container"
    >
      <img
        data-testid="temp-image"
        alt=""
        title=""
        width="1366"
        height="768"
        style="position:static;opacity:0"
      />
      <img
        data-testid="right-image"
        alt=""
        title=""
        id="right-image-gRKl2_rEMR"
        src="{{ "499742552031757542-aa48e56d-4262-4f02-adcd-7a5558b558a8.png" | asset_url }}"
        style="display:block;height:100%;position:absolute;width:100%;top:0;--objf:contain"
      />
      <img
        data-testid="left-image"
        alt=""
        title=""
        id="left-image-gRKl2_rEMR"
        src="{{ "499742552031757542-3dfefebd-5c6d-40b2-bbf6-7cc0c32bd602.png" | asset_url }}"
        style="display:block;height:100%;position:absolute;width:100%;top:0;--objf:contain"
      />
      <div id="image-comparison-slider-gRKl2_rEMR" style="z-index:2;align-items:center;cursor:ew-resize;display:flex;flex-direction:column;height:100%;justify-content:center;position:absolute;width:40px">
        <div style="display:block;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);flex:0 1 auto;height:100%;width:2px"></div>
        <div style="align-items:center;border:2px solid #ffffff;border-radius:100%;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);box-sizing:border-box;display:flex;flex:1 0 auto;height:40px;justify-content:center;width:40px;transform:none">
          <svg style="margin-right:2px;filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px)" width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 6L6 0V12L0 6Z" fill="white"/>
          </svg>
          <svg style="margin-left:2px;filter:drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 4px)" width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 6L0 12V0L6 6Z" fill="white"/>
          </svg>
        </div>
        <div style="display:block;background:#ffffff;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.40);flex:0 1 auto;height:100%;width:2px"></div>
      </div>
      
      
    </div></div>
  </gp-image-comparison>
  
    </div>
  
      </div>
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-499842790662865693 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/familidoo/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=499842785126384413&sectionId=499842790662865693)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
