
  
  
      <style>
        @font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=pxiEyp8kv8JHgFVrJJfedA&skey=87759fb096548f6d&v=v20) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=pxiByp8kv8JHgFVrLCz7Z1xlEw&skey=cea76fe63715a67a&v=v20) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-505517659866006634 .pointer-events-auto{pointer-events:auto}.gps-505517659866006634 .relative{position:relative}.gps-505517659866006634 .mx-auto{margin-left:auto;margin-right:auto}.gps-505517659866006634 .mb-0{margin-bottom:0}.gps-505517659866006634 .\!inline{display:inline!important}.gps-505517659866006634 .flex{display:flex}.gps-505517659866006634 .grid{display:grid}.gps-505517659866006634 .h-full{height:100%}.gps-505517659866006634 .w-full{width:100%}.gps-505517659866006634 .max-w-full{max-width:100%}.gps-505517659866006634 .flex-col{flex-direction:column}.gps-505517659866006634 .gap-y-0{row-gap:0}.gps-505517659866006634 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505517659866006634 .duration-200{transition-duration:.2s}.gps-505517659866006634 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-505517659866006634 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-505517659866006634 .\[\&_p\]\:inline p{display:inline}.gps-505517659866006634 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-505517659866006634 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g8JLlKCpIl"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-mobile:30px;--pl-mobile:15px;--pb-mobile:30px;--pr-mobile:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8JLlKCpIl mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6Id8WVUp- relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="glZff6SGsW"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:42px;--cg:62px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glZff6SGsW mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g8K-6Il2GK relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gt_xsMKefQ"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="It isn't only Playdough!"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://gemx-uploader-customermediabackupbucket-1o3rph6fqnedn.s3.amazonaws.com/499742552031757542-24e72161-3ffe-468e-8a85-6a456ba25181.jpg" data-srcset="https://gemx-uploader-customermediabackupbucket-1o3rph6fqnedn.s3.amazonaws.com/499742552031757542-24e72161-3ffe-468e-8a85-6a456ba25181.jpg 768w,https://gemx-uploader-customermediabackupbucket-1o3rph6fqnedn.s3.amazonaws.com/499742552031757542-24e72161-3ffe-468e-8a85-6a456ba25181.jpg 1024w,https://gemx-uploader-customermediabackupbucket-1o3rph6fqnedn.s3.amazonaws.com/499742552031757542-24e72161-3ffe-468e-8a85-6a456ba25181.jpg 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="7008" height="4672" alt="Therapy Dough Familidoo Usage" priority base-src
    sizes="100vw"
    style="--aspect:7008/4672;--aspect-tablet:7008/4672;--aspect-mobile:7008/4672;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gUeLbdXHxr relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gF5hI1tUBv "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:700;--ls:normal;--lh:130%;--size:40px;--size-tablet:40px;--size-mobile:32px;--c:#EE6A77;word-break:break-word;overflow:hidden"
        >
        <p>Isn't It Just Playdough?</p>
        </h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gZqHPtuNzw "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#4f4f4f;word-break:break-word;overflow:hidden"
        >
        <p>Therapy putty, playdough, and silly putty share similarities, but each serves a different purpose. Therapy putty is crafted for hand and finger exercises, aiming to enhance strength, flexibility, and coordination. On the other hand, playdough is a modeling material intended for imaginative play and artistic endeavors.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g3uSi1wqBN"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:62px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3uSi1wqBN mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="gsNKqTdioF relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gT2vQDWi33 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-Poppins, 'Poppins');--weight:700;--ls:normal;--lh:130%;--size:40px;--size-tablet:40px;--size-mobile:32px;--c:#EE6A77;word-break:break-word;overflow:hidden"
        >
        <p>Tailored Rehabilitation</p>
        </h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gvOdI55vqt "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:justify;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#424242;word-break:break-word;overflow:hidden"
        >
        <p>A major advantage of therapy putty is its capacity to involve and test various muscle groups in the hand and fingers. The flexibility of the putty enables users to complete a variety of exercises, ranging from basic squeezing and stretching to complex movements that simulate everyday tasks. This not only helps in rebuilding strength but also improves fine motor skills and coordination.</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="gEyJjkug8y relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gK1KrpgEUT"
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Pinch Pinch ~"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://gemx-uploader-customermediabackupbucket-1o3rph6fqnedn.s3.amazonaws.com/499742552031757542-9e5810b6-750a-4bf0-8c99-8154f538166a.jpg" data-srcset="https://gemx-uploader-customermediabackupbucket-1o3rph6fqnedn.s3.amazonaws.com/499742552031757542-9e5810b6-750a-4bf0-8c99-8154f538166a.jpg 768w,https://gemx-uploader-customermediabackupbucket-1o3rph6fqnedn.s3.amazonaws.com/499742552031757542-9e5810b6-750a-4bf0-8c99-8154f538166a.jpg 1024w,https://gemx-uploader-customermediabackupbucket-1o3rph6fqnedn.s3.amazonaws.com/499742552031757542-9e5810b6-750a-4bf0-8c99-8154f538166a.jpg 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="7008" height="4672" alt="Benefits of Therapy Dough" priority base-src
    sizes="100vw"
    style="--aspect:7008/4672;--aspect-tablet:7008/4672;--aspect-mobile:7008/4672;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-505517659866006634 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/familidoo/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=505483104538854279&sectionId=505517659866006634)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
