
  
  
  <style>
    .gps-501738006906930206 .absolute{position:absolute}.gps-501738006906930206 .relative{position:relative}.gps-501738006906930206 .inset-0{inset:0}.gps-501738006906930206 .left-\[var\(--left\)\]{left:var(--left)}.gps-501738006906930206 .top-\[var\(--top\)\]{top:var(--top)}.gps-501738006906930206 .z-1{z-index:1}.gps-501738006906930206 .mx-auto{margin-left:auto;margin-right:auto}.gps-501738006906930206 .mb-0{margin-bottom:0}.gps-501738006906930206 .flex{display:flex}.gps-501738006906930206 .grid{display:grid}.gps-501738006906930206 .h-full{height:100%}.gps-501738006906930206 .w-full{width:100%}.gps-501738006906930206 .max-w-full{max-width:100%}.gps-501738006906930206 .flex-col{flex-direction:column}.gps-501738006906930206 .items-center{align-items:center}.gps-501738006906930206 .\!justify-center{justify-content:center!important}.gps-501738006906930206 .justify-center{justify-content:center}.gps-501738006906930206 .gap-y-0{row-gap:0}.gps-501738006906930206 .\!self-center{align-self:center!important}.gps-501738006906930206 .self-center{align-self:center}.gps-501738006906930206 .overflow-hidden{overflow:hidden}.gps-501738006906930206 .bg-clip-content{background-clip:content-box}.gps-501738006906930206 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-501738006906930206 .transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-501738006906930206 .duration-200{transition-duration:.2s}.gps-501738006906930206 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-501738006906930206 .tablet\:relative{position:relative}.gps-501738006906930206 .tablet\:\!content-stretch{align-content:stretch!important}.gps-501738006906930206 .tablet\:\!justify-center{justify-content:center!important}.gps-501738006906930206 .tablet\:\!self-center{align-self:center!important}}@media (max-width:767px){.gps-501738006906930206 .mobile\:relative{position:relative}.gps-501738006906930206 .mobile\:\!content-stretch{align-content:stretch!important}.gps-501738006906930206 .mobile\:\!justify-center{justify-content:center!important}.gps-501738006906930206 .mobile\:\!self-center{align-self:center!important}}@media (max-width:1023px){.gps-501738006906930206 .tablet\:\[\&\>\*\]\:\!justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-501738006906930206 .mobile\:\[\&\>\*\]\:\!justify-center>*{justify-content:center!important}}.gps-501738006906930206 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2laf140d23fe"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(167, 184, 182)"
        class="i2laf140d23fe mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_PliuNRtjVgIJ relative flex flex-col"
    >
      
    
    
    
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-hero-banner.js" defer="defer"></script>
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"type":"color","color":"rgb(167, 184, 182)"},"tablet":{"type":"color","color":"rgb(167, 184, 182)"},"mobile":{"type":"color","color":"rgb(167, 184, 182)"}},"uid":"rewrap_row_PliuNRtjVgIJ","enableParallax":false,"speedParallax":0.6}'
      
      class="rewrap_row_PliuNRtjVgIJ group/hero flex flex-col self-center transition-colors duration-200 ease-in-out w-full !self-center tablet:!self-center mobile:!self-center"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:799px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
    >
      <div
      class="relative flex flex-col items-center overflow-hidden !justify-center tablet:!justify-center mobile:!justify-center"
        style="--h:799px;--h-tablet:500px;--h-mobile:500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
      >
        <div class="absolute w-full h-full">
          <div
            class="overflow-hidden w-full h-full"
            style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
            <div
              aria-label="Background Image"
              role="banner"
              class="gp-hero-banner-bg absolute inset-0 left-[var(--left)] top-[var(--top)] transition-transform flex items-center justify-center bg-clip-content"
              style="--bgc:rgb(167, 184, 182);--bgc-tablet:rgb(167, 184, 182);--bgc-mobile:rgb(167, 184, 182);--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute"
            > </div>
          </div>
          
        </div>
        
        
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row z-1 w-full tablet:relative mobile:relative tablet:[&>*>*]:!justify-undefined mobile:[&>*>*]:!justify-undefined tablet:!content-stretch tablet:[&>*]:!justify-center mobile:!content-stretch mobile:[&>*]:!justify-center mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="c-hb-rewrap_row_PliuNRtjVgIJ relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="r-c-nsw-PliuNRtjVgIJ"
        style="--mt:auto;--ml:auto;--mb:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1409px;--w-tablet:100%;--w-mobile:100%;--bgc:rgb(167, 184, 182)"
        class="r-c-nsw-PliuNRtjVgIJ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nsw-PliuNRtjVgIJ relative flex flex-col"
    >
      
    </div>
    </div>
  
    
    </div>
    </div>
  
    
        <picture style="border-radius: inherit" class="w-full">
    
    
    
    
    
    <img
      
      class="gp_lazyload"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
      data-src=""
      alt=""
      style="--aspect:undefined/undefined;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined;--d:none;--d-tablet:none;--d-mobile:none;--h:799px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
    />
  </picture>
      </div>
    </gp-hero-banner>
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-501738006906930206 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/familidoo/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=501426455549313978&sectionId=501738006906930206)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
